.experience {
	&__section {
		padding: 100px 0 42px 0;
		width: 100%;
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(space-between);
	}
	&__title {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 30px 0;
		&-num {
			font-size: 300px;
			color: #f4393e;
			font-weight: bold;
			margin: 0;
			font-family: 'Bebas Neue';	
			letter-spacing: -30px;
			line-height: 241px;
		}
		&-text {
			font-weight: bold;
			font-size: 30px;
			margin: -8px 0 0 30px;
			display: inline-block;
			vertical-align: top;
			line-height: 36px;
		}
	}
	&__block {
		padding: 9px 27px 26px 27px;
		width: 260px;
		// margin: 0 12px 30px 12px;
		margin-bottom: 30px;
		display: inline-block;
		vertical-align: top;
		border: 10px solid #f5f6f8;
		&-title {
			color: #f4393e;
			margin: 0 0 -13px 0;
			font-weight: bold;
			line-height: normal;
			font-family: 'Bebas Neue';
			font-size: 100px;
		}
		&-text {
			margin: 0;
			line-height: 24px;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
.page-title {
	&__block {
		text-align: center;
		margin: 124px 0 50px 0;
		&-title {
			color: #dee0e3;
			font-size: 160px;
			font-weight: 900;
			font-style: italic;
			line-height: 40px;	
			margin: 0;
			font-family: $pts;
			&.font-sm {
				font-size: 100px;
			}
		}
		&-subtitle {
			color: #171a23;
			font-size: 80px;
			line-height: 60px;
			margin: 0;
			font-family: $pts;
		}
	}
}
.portfolio {
	background: #f6f9fb;
	padding: 40px 0;
	&__section {
		padding: 0 50px;
	}
	&__block {
		width: 440px;
		background: #fff;
		display: inline-block;
		vertical-align: top;
		padding: 41px;
		font-family: $pts;
		text-align: center;
		&--second {
			margin: 280px 0 0 130px;
		}
		&--third {
			margin: -150px 0 0 0;
		}
		&-more {
			display: inline-block;
			vertical-align: top;
			margin: 230px 0 0 170px;
			font-family: $pts;
			font-size: 30px;
			font-style: italic;
			a {
				color: #2286c6;
				border-bottom: 1px solid rgba(34, 134, 198, 0.4);
				// @include transition(all 0.2s ease-in-out);
				&:hover, 
				&:focus { 
					color: #2286c6; 
					text-decoration: none; 
					border-bottom: 1px solid transparent;
				}
			}
		}
		&-inner {
			height: 360px;
			background: #ecf0f1;
			margin-bottom: 50px;
			position: relative;
			&-element {
				max-width: none;
				@include transition(all 0.2s ease-in-out);
				&-holder {
					@include position(absolute, null null null null);
				}
			}
		}
		&-link {
			font-size: 23px;
			color: #2286c6;
			border-bottom: 1px solid rgba(34, 134, 198, 0.4);
			// @include transition(all 0.2s ease-in-out);
			&:hover, 
			&:focus { 
				color: #2286c6; 
				text-decoration: none; 
				border-bottom: 1px solid transparent;
			}
		}
		&-description {
			color: #312937;
			font-size: 20px;
			line-height: 27px;
		}
	}
}
.advantages {
	padding: 50px 0;
	position: relative;
	&__block {
		max-width: 300px;
		margin-bottom: 60px;
		&.m-t {
			margin-top: -145px;
		}
		&-num {
			font-size: 150px;
			margin: 0 0 -33px;
			font-weight: bold;
			color: #f4e113;
		}
		&-title {
			margin: 0 0 15px;
			font-size: 28px;
			font-family: $pts;
		}
		&-text {
			margin: 0;
			font-size: 20px;
			font-family: $pts;
		}
	}
	&__el {
		@include position(absolute, null null null null);
		@include transition(all 0.2s ease-in-out);
		z-index: 10;
		&--flower {
			background: url(../img/flower.png) top right no-repeat;
			width: 345px;
			height: 799px;
			top: 130px;
			right: 0;
		}
		&--cup {
			background: url(../img/cup.png) top left no-repeat;
			width: 251px;
			height: 347px;
			top: 50%;
			left: 0;
		}
		&--sharpener {
			background: url(../img/sharpener.png) top right no-repeat;
			width: 167px;
			height: 149px;
			top: 150px;
			left: 10%;	
		}
		&--pencil {
			background: url(../img/pen.png) top right no-repeat;
			width: 445px;
			height: 477px;
			top: 210px;
			left: 0;
		}
		&--iphone {
			background: url(../img/iphone.png) top right no-repeat;
			width: 385px;
			height: 374px;
			top: -80px;
		    left: -72%;
		}
	}
}
.recommendations {
	background-color: #f6f9fb;
	padding: 0px 0 70px;
	position: relative;
	&:before {
		content: '';
		@include position(absolute, null 0 50px 0);
		width: 100%;
		height: 2px;
		background: #ef5161;
	}
	&__img {
		box-shadow: 0 11px 17.9px 3.2px rgba(0, 0, 0, 0.11);
		&-holder {
			margin-bottom: 70px;
			opacity: 1;
			@include transition(all 0.2s ease-in-out);
			&.fadeOut {
				opacity: 0;
				@include transform(translateX(-100px));
			}
		}
	}
	&__thumb {
		cursor: pointer;
		width: 59px;
		height: 82px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		margin: 0 22px 30px 0;
		position: relative;
		border: 2px solid transparent;
		@include transition(all 0.2s ease-in-out);
		&:hover,
		&.active {
			border: 2px solid #ee505d;
		}
		&-block {
			max-width: 500px;	
		}
	}
	&__decor {
		position: absolute;
		bottom: -102px;
		right: 0;
	}
}
.video {
	padding: 30px 0;
	background-color: #f6f9fb;
	&__block {
		margin: 0 auto 30px auto;
		background: #fff;
		padding: 20px;
		margin-bottom: 60px;
		max-width: 995px;
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
		&-inner {
			position: relative;
		}
		&-play {
			@include position(absolute, 0 0 0 0);
			background: url(../img/video-poster.jpg) center center no-repeat;
			background-size: cover;
			&:before {
				content: '';
				@include position(absolute, 0 0 0 0);
				background: url(../img/play.png) center center no-repeat;
				opacity: 0.6;
				z-index: 10;	
				width: 100%;
				height: 100%;
				@include transition(all 0.2s ease-in-out);
			}
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}
	}
}
.prefooter-form {
	&__trigger {
		color: #4882ce;
		border-bottom: 1px dotted;
		font-size: 20px;
		position: relative;
		margin: 0 25px;
		&:hover, 
		&:focus { 
			color: #4882ce;
			text-decoration: none; 
			border-bottom: 1px dotted transparent;
		}
		&.active {
			color: #000;
			cursor: default;
			border-bottom: 1px dotted transparent;
		}
		&:before {
			content: '';
			@include position(absolute, 0 null null -20px);
			width: 15px;
			height: 17px;
		}
		&--msk {
			&:before {
				background: url(../img/msk.png) 0 0 no-repeat;
			}
		}
		&--ods {
			&:before {
				background: url(../img/ods.png) 0 0 no-repeat;
			}
		}
		&-phone {
			text-align: center;
			margin: 64px 0 79px;
		}
	}
	&__info {
		text-align: center;
		margin-bottom: 77px;
		&-link {
			display: inline-block;
			position: relative;
			font-size: 25px;
			margin: 0 45px 0 85px;
			&--skype {
				color: #00aff0;
				&:hover,
				&:focus {
					color: #00aff0;
					text-decoration: none;
				}
				&:before {
					content: '';
					@include position(absolute, 0 null null -54px);
					background: url(../img/skype.png) 0 0 no-repeat;
					width: 36px;
					height: 36px;
				}
			}
			&--email {
				color: #4882ce;
				border-bottom: 1px solid rgba(72, 130, 206, 0.5);
				&:hover,
				&:focus {
					color: #4882ce;
					text-decoration: none;
					border-bottom: 1px solid transparent;
				}
				&:before {
					content: '';
					@include position(absolute, 3px null null -57px);
					background: url(../img/email.png) 0 0 no-repeat;
					width: 36px;
					height: 26px;
				}
			}
		}
	}
	&__block {
		border: 1px solid #ddd;
		border-radius: 3px 3px 0px 0px;
		padding: 10px 10px 0 10px;
		background: url(../img/prefooter-form-bg.png);
		&-inner {
			background-color: #eaf7f9;
			padding: 70px 50px 70px 60px;
			&-text {
				font-size: 25px;
				font-weight: 300;
				font-style: italic;
				line-height: 37px;
				margin-bottom: 43px;
			}
			&-input {
				background: none;
				border: none;
				font-weight: 500;
				border-bottom: 1px solid #000;
				&[type='email'] {
					width: 28%;
				}
			}
			&-select {
				list-style-type: none;
				padding: 0;
				margin: 0;
				display: none;
				@include position(absolute, 50px null null -30px);
				z-index: 10;
				background-color: #fff;
				border-radius: 10px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
				&:before {
					content: '';
					@include position(absolute, -11px 0 null 0);
					background: url(../img/triangle.png) 0 0 no-repeat;
					width: 23px;
					height: 11px;
					margin: 0 auto;
				}
				padding: 15px 25px;
				&-item {
					color: #2286c6;
					cursor: pointer;
					display: inline-block;
					white-space: nowrap;
					font-size: 25px;
					font-style: italic;
					font-weight: 300;
					@include transition(all 0.2s ease-in-out);
					&:hover {
						color: darken(#2286c6, 10%);
					}
				}
				&-block {
					display: inline-block;
					vertical-align: top;
					position: relative;
				}
				&-holder {
					color: #2286c6;
					cursor: pointer;
					border-bottom: 1px dashed;
					&:hover,
					&:focus {
						color: #2286c6;
						text-decoration: none;
						border-bottom: 1px solid transparent;
					}
				}
				&-item {

				}
			}
			&-submit {
				background: none;
				border: none;
				padding: 14px 46px;
				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				background-color: #ebd911;
				background-image: linear-gradient(75deg, #f23435 0%, #f23338 100%);
				border-radius: 2px;
				opacity: 1;
				@include transition(all 0.2s ease-in-out);
				&:hover {
					opacity: 0.9;
				}
			}
			&-description {
				display: inline-block;
				vertical-align: top;
				position: relative;
				padding-left: 113px;
				opacity: 0;
				@include transition(all 0.2s ease-in-out);
				&.fadeIn {
					opacity: 1;
				}
				&:before {
					content: '';
					@include position(absolute, null null -2px 20px);
					background: url(../img/r-line.png) 0 0 no-repeat;
					width: 78px;
					height: 13px;
				}
				&-text {
					font-style: italic;
					color: #48424d;
					font-size: 16px;
					display: inline-block;
					vertical-align: top;
					margin: 10px 12px 5px 12px;
					font-weight: 300;
					max-width: 230px;
					line-height: 20px;
				}
			}
		}
	}
	&__title-block {
		text-align: center;
		&-text {
			color: #575757;
			font-size: 28px;
			margin: 50px 0;
			font-family: $pts;
		}
		&-title {
			color: #171a23;
		    font-size: 110px;
		    font-weight: bold;
		    line-height: 60px;
		    margin: 0;
		    font-family: $pts;
		}
	}
}
.js-phone-holder {
	@include transition(all 0.2s ease-in-out);
	@include filter(blur(0));
	&.blur-in {
		@include filter(blur(24px));
	}
}