@media (max-width: 767px) {
	
}
@media (max-width: 499px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (max-width: 1500px) {
	.advantages {
		&__el {
			background-size: 60%!important;
		}
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1190px;
		padding: 0 10px;
	}
	.header {
		&__logo {
			img {
				max-width: none;
			}
		}
	}
}