footer.footer
	.container
		.row
			.col-lg-3.col-sm-4.xs-text-center
				p.footer__copyright &copy; 2005–2016 Студия «Максимус»
			.col-lg-6.col-sm-4.xs-text-center
				.footer__social-block
					- for (i=1; i<=4; i++) {
						a.footer__social-block-link(href="#!" target="_blank")
							img(src="img/icon.png", alt="social icon")
					- }
			.col-lg-3.col-sm-4.xs-text-center
				.footer__block
					p.footer__block-text
						| Случайная 
						a(href="#!") мысль
						| :
					a(href="#!") “О правильном формате ссылок”