header.header
	// видео блок
	.header__video
		video.slider__list-video-player(loop autoplay muted poster="img/main-bg.jpg")
			source(src="video/video2.mp4" type="video/mp4")
			source(src="video/video2.webm" type="video/webm")
			source(src="video/video2.ogg" type="video/ogg")
	// / видео блок
	.container
		.row
			.col-lg-2.col-md-3.col-sm-4
				// лого
				a.header__logo(href="/")
					img(src="img/logo.png" alt="Site Logo")
				// / лого
			.col-lg-8.col-md-6.col-sm-4
				// меню
				button.header__menu-btn.visible-sm.visible-xs
				.header__menu-block
					ul.header__menu-list
						each item in menu
							li.header__menu-item
								a.header__menu-link(href="#!") #{item}
				// / меню
			.col-lg-2.col-md-3.col-sm-4
				.header__info.js-phone-trigger-parent
					// холдер телефона
					a.header__info-phone.js-phone-holder(href="tel:+74999122505") #{mskPhone}
					// / холдер телефона
					// блок с триггерами для телефона
					.header__info-trigger-block
						a.header__info-trigger.header__info-trigger--msk.js-phone-trigger.active(href="javascript:void(0)" data-phone="#{mskPhone}") Москва
						a.header__info-trigger.header__info-trigger--ods.js-phone-trigger(href="javascript:void(0)" data-phone="#{odsPhone}") Одесса
					// / блок с триггерами для телефона
		.row
			.col-sm-12
				// текстовый блок
				.header__block-text
					p.header__title Делаем крутые сайты и мобильные приложения
					p.header__text Знаем все подводные камни и съели всех собак
				// / текстовый блок